/*selectores de varios tag*/
h1 {
	color: blue;
	text-align: center;
	font-family: arial;
	font-size: 30px;
	width: 50%;
}

/*estilo solo*/

p {
	color: red;
}
p.negrita{
	font-weight: bold;
	font-style: oblique;
	font-family: arial, tahoma, sans-serif;
	font-size: 20px;
	background: #cccccc;
	border-top-color: #ff9900;
	border-top-width: 3px;
	border-top-style: solid;
	border-left-color: #ff0000;
	border-left-width: 3px;
	border-left-style: dashed;
	width: 100%;
	height: 300px;
	letter-spacing: 12px;
	word-spacing: 5px
	text-align: center;
}

p.wiki {
	text-align: center;
	line-height: 1em;
	text-decoration: line-through;
	text-transform: uppercase; /*esto le da formato a la tipografia dependiendo de que se quiera usar*/

}

/*estilo cascada*/

article p {
	color: purple;
}
/*estilo id*/

article#firma {
	color: pink;
}
/*estilo clase*/
article.cuerpo {
	background: grey;
}
aside#relacionado {
	background: green;
}
aside p {
	color:white;
}
p.destacados {
	color: red;
}

ul{
	list-style-image: url('logo.png');
}
li#segundo{
	list-style: georgian;
}
ol{
	list-style-type: armenian;
}

body{
	background-image: 
}