*{
	margin: 0;
	padding: 0;
}
nav {
	font-family: sans-serif verdana;
	font-size: 20px;
	color: white;
	background-color: black;
	float: right;
}

nav#menu {
	background-image: url("mac.png");
	height:200px;
	 
}