div.col-md-1{
	background-size: 20px;
}
span.badge-flat{
	border-radius: 5px;

}

.badge-success{
	background-color: green;
	
}
p{
	font-size: 18px;
}
p.lead{
	font-size: 20px;
}
p#lead{
	font-size: 30px;
}
.container-mano{
	height: 860px;
	width: 1400px;
}
div.img-responsive{
	text-align: right;
}
