@import '_reset.scss'; 
@import '_variables.scss';

.btn {
   border: 1px;
   border-radius: 5px;
   vertical-align: middle;
   padding: 8px;
   cursor: pointer;

}
.btn-default{
	background-color: $color-default;
	border: 1px solid; 
}
.btn-primary{
	background-color: $color_primary;
}
.btn-success{
	background-color: $color_success;
}
.btn-success:hover{
	background-color: #0B610B;
}
.btn-info{
	background-color: $color_info;
}
.btn-info:hover{
	background-color:#00BFFF;
}
.btn-warning{
	background-color: $color_warning;
}
.btn-warning:hover{
	background-color: #FFBF00;
}
.btn-danger{
	background-color: $color_danger;
}
.btn-danger:hover{
	background-color: #DF0101;
}
.btn-link{
	background-color: white;
	color: blue;
	border:n 1px solid;
}

.btn-lg{
	border: 1px solid;
	font-size:180%;
	border: none;
}
.btn-lg:hover{
	background-color:#0101DF;
}
.btn_lg{
	font-size: 180%;
}

.btn-sm{
	font-size:80%;
}
.btn-sm:hover{
	background-color: #0101DF;
}
.btn-xs{
	font-size:60%;

}
.btn-xs:hover{
	background-color: #0101DF;
}
